/* ===================================== */
/*   Evaluation-Icons                    */
/* ===================================== */

.evaluation-icon-correct {
	background-color: green;
	color: white;
	border-radius: 50%;
	padding: 5px;
}

.evaluation-icon-correct:before {
	content: "\e909";
}

.evaluation-icon-partially_correct {
	background-color: #ffd801;
	color: white;
	border-radius: 50%;
	padding: 5px;
}

.evaluation-icon-partially_correct:before {
	content: "\e912";
}

.evaluation-icon-wrong {
	background-color: red;
	color: white;
	border-radius: 50%;
	padding: 5px;
}

.evaluation-icon-wrong:before {
	content: "\e90b";
}

.statistics{
	border: 1px solid rgba(0,0,0,.125);
}