<ui:composition template="templates/template.xhtml" 
				xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        <h:outputText value="#{labels['change-password.title']}"/>
    </ui:define>

    <ui:define name="page-content">
		<h1><h:outputText value="#{labels['change-password.title']}" /></h1>
		
        <h:form id="content">

            <p:growl id="messages"/>

            <div class="form-grid">
                <p:outputLabel value="#{labels['change-password.password']}"/>
                <p:password value="#{changePasswordView.password}" required="true" toggleMask="true"/>

                <p:outputLabel value="#{labels['change-password.password-retype']}"/>
                <p:password value="#{changePasswordView.passwordRetype}" required="true" toggleMask="true"/>			
            </div>
            
            <br />

            <p:commandButton value="#{labels['change-password.continue']}"
                             action="#{changePasswordView.changePassword}" update="messages"/>
            
            <br />
            <br />
        </h:form>
    </ui:define>
</ui:composition>