<ui:composition template="templates/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        <h:outputText value="#{labels['edit-profile.title']}"/>
    </ui:define>
    <ui:define name="page-content">
    	<h1><h:outputText value="#{labels['edit-profile.title']}" /></h1>

		<p:growl id="messages"/>

        <h:form styleClass="responsive">

            <div class="form-grid">
                <p:outputLabel value="#{labels['edit-profile.username']}"/>
                <p:inputText id="input-username" value="#{editProfileView.username}" required="true" 
                	requiredMessage="#{exceptions['profile.username-may-not-be-empty']}">
                    <p:ajax event="keyup" update="usernameOverlay"/>
                    <p:overlayPanel id="usernameOverlay" for="input-username">
                        <i class="pi #{editProfileView.checkIfUsernameIsAvailable()}"/>
                        <p:outputLabel value="#{labels['register.username-available']}"/>
                    </p:overlayPanel>
                </p:inputText>

                <p:outputLabel value="#{labels['edit-profile.email-address']}"/>
                <p:inputText value="#{editProfileView.emailAddress}" required="true" 
                	requiredMessage="#{exceptions['profile.e-mail-may-not-be-empty']}">
                </p:inputText>

                <p:outputLabel value="#{labels['edit-profile.current-password']}" styleClass="p-col-fixed"/>
                <p:password value="#{editProfileView.oldPassword}" label="Password 0" toggleMask="true"/>


                <p:outputLabel for="pwd1" styleClass="p-col-fixed" style="width:100px" 
                			value="#{labels['edit-profile.new-password']}"/>
                <p:password id="pwd1" value="#{editProfileView.newPassword}"
                            label="Password 1" toggleMask="true">
                <p:ajax event="keyup" update="pwdOverlay" />
                <p:overlayPanel id="pwdOverlay" for="pwd1">
                    <i class="pi #{editProfileView.checkLength()}" />
                    <p:outputLabel value="#{labels['edit-profile.length-hint']}"/>
                    <br/>
                    <i class="pi #{editProfileView.checkCapitalLetters()}"/>
                    <p:outputLabel value="#{labels['edit-profile.letters-hint']}"/>
                        <br/>
                    <i class="pi #{editProfileView.checkNumbers()}"/>
                    <p:outputLabel value="#{labels['edit-profile.number-hint']}"/>
                        <br/>
                    <i class="pi #{editProfileView.checkSpecialCharacter()}"/>
                    <p:outputLabel value="#{labels['edit-profile.special-character-hint']}"/>
                </p:overlayPanel>
            </p:password>
                <p:outputLabel for="pwd2" styleClass="p-col-fixed" style="width:100px" 
                			value="#{labels['edit-profile.retype-new-password']}"/>
                <p:password id="pwd2" label="Password 2" value="#{editProfileView.newPasswordConfirmed}" 
                	toggleMask="true"/>

                <!-- Testfeld-->
                <p:outputLabel for="pwd3" styleClass="p-col-fixed" style="width:100px"
                               value="#{labels['edit-profile.retype-new-password']}"/>
                <p:password id="pwd3" label="Password 2" value="#{editProfileView.newPasswordConfirmed}"
                            toggleMask="true"/>
			</div>

			<p:messages />
			<h:messages />

            <p:commandButton value="#{labels['edit-profile.back']}" styleClass="form-button"
                             action="menu?faces-redirect=true" immediate="true"/>

            <p:commandButton value="#{labels['edit-profile.save']}" styleClass="form-button"
                             action="#{editProfileView.updateUser()}" update="messages"/>
        </h:form>
    </ui:define>
</ui:composition>