<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/template.xhtml">

    <ui:define name="page-content">
        <h:form>
            <p:growl id="messages"/>
            <h:panelGroup layout="block" id="panel">
            <div class="ui-fluid">
                <div class="field grid">
                    <p:outputLabel for="author-name" value="#{labels['edit-author.name']}"
                                   styleClass="col-12 mb-2 md:col-2 md:mb-0"/>
                    <div class="col-12 md:col-10">
                        <p:inputText id="author-name" value="#{editAuthorView.name}"/>
                    </div>
                </div>
                <div class="field grid">
                    <p:outputLabel for="author-extra-information" value="#{labels['edit-author.extra-information']}"
                                   styleClass="col-12 mb-2 md:col-2 md:mb-0"/>
                    <div class="col-12 md:col-10">
                        <p:inputText id="author-extra-information" value="#{editAuthorView.extraInformation}"/>
                    </div>
                </div>
            </div>
            </h:panelGroup>
            <p:dataTable value="#{editAuthorView.notesOfAuthor}" var="note">
                <p:column headerText="#{labels['edit-note.name']}">
                    <h:outputText value="#{note.title}"/>
                </p:column>
                <p:column headerText="#{labels['edit-note.description']}">
                    <h:outputText value="#{note.description}"/>
                </p:column>
                <p:column headerText="#{labels['edit-author.actions']}">
                    <p:commandButton icon="pi pi-trash" action="#{editAuthorView.deleteElement(note)}"
                                     styleClass="rounded-button ui-button-danger rounded-button-overwrite"
                                     update="@form">
                        <p:confirm header="#{labels['elements-tree-view.confirmation']}"
                                   message="#{labels['elements-tree-view.confirm-delete-note']}"
                                   icon="pi pi-info-circle"/>
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"
                                             update="@form"/>
                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" update="@form"/>
                        </p:confirmDialog>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <p:commandButton value="#{labels['edit-author.back']}" action="#{editAuthorView.backToAuthorView()}"
                             styleClass="form-button" immediate="true"/>
            <p:commandButton value="#{labels['edit-author.save']}" action="#{editAuthorView.saveAuthor()}"
                             styleClass="form-button" update="messages"/>
            <p:commandButton value="#{labels['edit-author.save-and-create-another-one']}"
                             action="#{editAuthorView.saveAndCreateAnotherAuthor()}"
                             styleClass="form-button" update="@form"/>
        </h:form>
    </ui:define>
</ui:composition>
