<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{labels['edit-note.title']}"/>
    </ui:define>

    <ui:define name="page-content">
        <h1><h:outputText value="#{labels['edit-note.title']}"/></h1>
        <h:form>
            <p:growl id="messages"/>
            <div class="ui-fluid">
                <div class="field grid">
                    <p:outputLabel for="folder-name" value="#{labels['edit-note.name']}"
                                   styleClass="col-12 mb-2 md:col-2 md:mb-0"/>
                    <div class="col-12 md:col-10">
                        <p:inputText id="folder-name" value="#{editNoteView.title}"/>
                    </div>
                </div>
                <div class="field grid">
                    <p:outputLabel for="folder-description" value="#{labels['edit-note.description']}"
                                   styleClass="col-12 mb-2 md:col-2 md:mb-0"/>
                    <div class="col-12 md:col-10">
                        <p:inputText id="folder-description" value="#{editNoteView.description}"/>
                    </div>
                </div>
                <p:selectOneMenu filter="true" filterMatchMode="contains" styleClass="toolbar-grow"
                                 value="#{editNoteView.author}" style="min-width: 200px"
                                 converter="#{converterConfiguration.authorConverter}" required="true">
                    <f:selectItem itemLabel="#{labels['edit-note.select-author']}"/>
                    <f:selectItems value="#{editNoteView.allAuthors}" var="author"
                                   itemLabel="#{author.name} (#{author.extraInformation})" itemValue="#{author}" />
                    <p:ajax event="change" update="@this" />
                </p:selectOneMenu>
                <p:selectOneMenu filter="true" filterMatchMode="contains" styleClass="toolbar-grow"
                                 value="#{editNoteView.currentFolder}" style="min-width: 200px"
                                 required="true"
                                 converter="#{converterConfiguration.folderConverter}">
                    <f:selectItem itemLabel="#{labels['edit-folder.select-parent-folder']}"/>
                    <f:selectItems value="#{editNoteView.allFolders}" var="folder"
                                   itemLabel="#{folder.name} (#{folder.id})" itemValue="#{folder}"/>
                    <p:ajax event="change" update="@this" />
                </p:selectOneMenu>
                <div>
                    <div class="field grid">
                        <p:outputLabel for="pdf-available" value="#{labels['edit-note.pdf-available']}"
                                       styleClass="col-12 mb-2 md:col-2 md:mb-0"/>
                        <div class="col-12 md:col-10">
                            <p:selectBooleanCheckbox id="pdf-available"
                                              value="#{editNoteView.checkIfPDFForNoteIsAvailable()}" disabled="true"/>
                        </div>

                </div>
            </div>
            </div>

            <p:commandButton value="Download" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);"
                             icon="pi pi-arrow-down" styleClass="p-mr-2 form-button"
                             rendered="#{editNoteView.checkIfPDFForNoteIsAvailable()}">
                <p:fileDownload value="#{editNoteView.pdfForView}" contentDisposition="attachment" />
            </p:commandButton>

            <p:commandButton onclick="this.form.target = '_blank'"
                             action="#{editNoteView.openFile()}" icon="pi pi-file-pdf"
                             ajax="false" value="#{labels['edit-note.open-pdf-in-new-tab']}"
                             rendered="#{editNoteView.checkIfPDFForNoteIsAvailable()}" />

            <p:graphicImage value="#{editNoteView.getCurrentStatusOfNote()}" stream="false"
                            rendered="#{editNoteView.checkIfNoteIsAlreadySaved()}"/>

            <p:fileUpload value="#{editNoteView.uploadedFile}" mode="advanced" multiple="false"/>

            <p:commandButton value="#{labels['edit-note.back']}" action="#{editNoteView.navigateToViewFolders()}"
                             styleClass="form-button" immediate="true"/>
            <p:commandButton value="#{labels['edit-note.save']}" action="#{editNoteView.saveNote()}"
                             styleClass="form-button" ajax="false" update="messages"/>
            <p:commandButton value="#{labels['edit-note.create-another-note']}"
                             action="#{editNoteView.saveAndCreateAnotherNote()}"
                             styleClass="form-button" update="@form"/>
        </h:form>
    </ui:define>
</ui:composition>
