<ui:composition template="templates/template.xhtml" 
				xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        <h:outputText value="#{labels['edit-user.title']}"/>
    </ui:define>

    <ui:define name="page-content">
		<h1><h:outputText value="#{labels['edit-user.title']}" /></h1>
		
        <h:form id="content">

            <p:growl id="messages"/>

            <div class="form-grid">
                <p:outputLabel value="#{labels['edit-user.username']}"/>
                <p:inputText value="#{editUserView.username}" required="true"
                	requiredMessage="#{exceptions['user.username-may-not-be-empty']}" 
                	id="username" label="text"/>

                <p:outputLabel value="#{labels['edit-user.email-address']}"/>
                <p:inputText value="#{editUserView.emailAddress}" required="true" 
                	requiredMessage="#{exceptions['user.invalid-email']}" label="text">
                </p:inputText>
								
				<p:outputLabel value="#{labels['edit-user.role']}"/>
                <p:selectOneMenu id="option" value="#{editUserView.role}">
                    <f:selectItem itemLabel="#{labels['edit-user.select-one']}" itemValue="empty"/>
                    <f:selectItem itemLabel="#{labels['edit-user.select-admin']}" itemValue="ADMIN"/>
                    <f:selectItem itemLabel="#{labels['edit-user.select-user']}" itemValue="USER"/>
                </p:selectOneMenu>

                <p:outputLabel value="#{labels['edit-user.password']}" id="ajaxMessage"/>
                <p:password redisplay="true" value="#{editUserView.password}" toggleMask="true" style="margin-right: 5px"/>

                <p:outputLabel value="#{labels['edit-user.generate-password']}" />
                <p:commandButton icon="pi pi-replay"
           					 action="#{editUserView.generateNewPassword}" 
           					 update="content" styleClass="form-button"/>
                
                <p:outputLabel value="#{labels['edit-user.change-password-after-login']}"/>
                <p:selectBooleanCheckbox value="#{editUserView.changePasswordNextLogin}" />
            </div>

            <p:commandButton value="#{labels['edit-user.cancel']}"
                             action="manageUsers?faces-redirect=true"
                             immediate="true"
                             styleClass="form-button"/>

            <p:commandButton value="#{labels['edit-user.save']}"
                             action="#{editUserView.saveUser}" 
                             styleClass="form-button"
                             update="messages @form"/>
            
            <br />
            <br />
        </h:form>
    </ui:define>
</ui:composition>