<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{labels['edit-folder.title']}"/>
    </ui:define>
    <ui:define name="page-content">
        <h1>       <h:outputText value="#{labels['edit-folder.title']}"/></h1>
        <h:form>
            <p:growl id="messages"/>
        <div class="ui-fluid">
            <div class="field grid">
                <p:outputLabel for="folder-name" value="#{labels['edit-folder.name']}" styleClass="col-12 mb-2 md:col-2 md:mb-0"/>
                <div class="col-12 md:col-10">
                <p:inputText id="folder-name" value="#{editFolderView.name}"/>
                </div>
            </div>
            <div class="field grid">
                <p:outputLabel for="folder-description" value="#{labels['edit-folder.description']}" styleClass="col-12 mb-2 md:col-2 md:mb-0"/>
                <div class="col-12 md:col-10">
                <p:inputText id="folder-description" value="#{editFolderView.description}"/>
                </div>
            </div>
            <p:selectOneMenu filter="true" filterMatchMode="contains" styleClass="toolbar-grow"
                             value="#{editFolderView.futureParentFolder}" style="min-width: 200px"
                    converter="#{converterConfiguration.folderConverter}">
                <f:selectItem itemLabel="#{labels['edit-folder.select-parent-folder']}"/>
                <f:selectItems value="#{editFolderView.selectableParentFolders}" var="folder"
                               itemLabel="#{folder.name} (#{folder.id})" itemValue="#{folder}"/>
                <p:ajax event="change" update="@this" />
            </p:selectOneMenu>
        </div>
            <p:commandButton value="#{labels['edit-folder.back']}"
                             action="#{editFolderView.returnBackToFolderView()}" immediate="true"
                             styleClass="form-button" ajax="false"/>
            <p:commandButton value="#{labels['edit-folder.save']}" action="#{editFolderView.saveFolder()}"
                             styleClass="form-button" update="messages"/>
            <p:commandButton value="#{labels['edit-folder.save-and-create-another-folder']}"
                             action="#{editFolderView.saveFolderAndCreateAnotherFolder()}"
                             styleClass="form-button" update="@form"/>

    </h:form>
    </ui:define>
</ui:composition>
