<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{labels['elements-tree-view.title']}"/>
    </ui:define>

    <ui:define name="page-content">
        <h1><h:outputText value="#{labels['elements-tree-view.title']}"/></h1>
        <h:form>
            <p:growl id="messages"/>
            <p:commandButton icon="pi pi-plus" action="#{elementsTreeView.navigateToCreateFolder()}" styleClass="form-button"
                             value="#{labels['elements-tree-view.create-parent-folder']}"/>
            <p:commandButton icon="pi pi-trash" action="#{elementsTreeView.deleteElement()}"
                             value="#{labels['elements-tree-view.delete-element']}"
                             styleClass="form-button ui-button-danger" update="@form">
                <p:confirm header="#{labels['elements-tree-view.confirmation']}"
                           message="#{labels['elements-tree-view.confirm-delete-note']}"
                           icon="pi pi-info-circle" />
            </p:commandButton>

            <h:panelGroup id="padding" layout="block">

            <p:treeTable value="#{elementsTreeView.root}" var="node" dynamic="false" id="elements"
                         nodeVar="#{elementsTreeView.root}"
            selectionMode="single" selection="#{elementsTreeView.selectedTreeNode}">
                <p:ajax event="collapse" listener="#{elementsTreeView.onNodeCollapse}" />
                <p:column headerText="#{labels['elements-tree-view.name']}"
                              sortBy="#{elementsTreeView.getCorrectNamingScheme(node)}" sortOrder="asc"
                              filterBy="#{elementsTreeView.getCorrectNamingScheme(node)}" filterMatchMode="contains"
                          selectionMode="single" responsivePriority="1">
                    <p:commandLink value="#{elementsTreeView.getCorrectNamingScheme(node)}"
                                   action="#{elementsTreeView.navigateToEditElement(node)}"/>
                    </p:column>
                <p:column headerText="#{labels['elements-tree-view.creation-date']}" responsivePriority="5">
                    <h:outputText value="#{node.creationDate.time}">
                        <f:convertDateTime type="date" pattern="dd.MM.yyyy hh:mm" />
                    </h:outputText>
                </p:column>
                <p:column headerText="#{labels['elements-tree-view.position-in-folder']}"
                         responsivePriority="1" >
                    <h:outputText value="#{elementsTreeView.determinePositionInFolder(node)}"
                                  rendered="#{not elementsTreeView.isFolder(node)}"/>
                </p:column>
                <p:column headerText="#{labels['elements-tree-view.actions']}" responsivePriority="1">
                    <p:commandButton icon="pi pi-plus"
                                     action="#{elementsTreeView.navigateToCreateFolder(node)}"
                                     rendered="#{elementsTreeView.isFolder(node)}"
                                     styleClass="table-button rounded-button rounded-button-overwrite"
                                     value="#{labels['elements-tree-view.create-folder']}"/>
                    <br/>
                    <p:commandButton icon="pi pi-plus" action="#{elementsTreeView.navigateToCreateNote(node)}"
                                     rendered="#{elementsTreeView.isFolder(node)}"
                                     styleClass="table-button rounded-button rounded-button-overwrite"
                                     value="#{labels['elements-tree-view.create-note']}"/>
                    <br/>
                    <p:commandButton value="#{labels['elements-tree-view.regenerate-qrCode']}" ajax="false"
                                     icon="pi pi-align-justify" styleClass="p-mr-2 rounded-button rounded-button-overwrite"
                                     action="#{elementsTreeView.generateQrCodeForEveryNote(node)}"
                                     rendered="#{elementsTreeView.isFolder(node)}">
                    </p:commandButton>
                    <br/>
                    <p:commandButton value="#{labels['elements-tree-view.download-qrCodes']}" ajax="false"
                                     onclick="PrimeFaces.monitorDownload(start, stop);"
                                     icon="pi pi-align-justify" styleClass="p-mr-2 rounded-button rounded-button-overwrite"
                                     rendered="#{elementsTreeView.isFolder(node) and
                                     elementsTreeView.checkIfGeneratedQRCodePageExists(node)}">
                        <p:fileDownload value="#{elementsTreeView.getQrCodePage(node)}"
                                        contentDisposition="attachment" />
                    </p:commandButton>
                </p:column>
            </p:treeTable>
            </h:panelGroup>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"
                                 update="@form"/>
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" update="@form"/>
            </p:confirmDialog>
        </h:form>
    </ui:define>
</ui:composition>
