<ui:composition template="templates/template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<h:outputText value="#{labels['imprint.title']}" />
	</ui:define>
	<ui:define name="page-content">
		<h1>
			<h:outputText value="#{labels['imprint.title']}" />
		</h1>

		<h4>
			<h:outputLabel value="#{labels['imprint.participants']}" />
		</h4>
		<p:outputLabel value="samuel19982" />
		<br />
		
		<h4>
			<h:outputLabel value="#{labels['imprint.used-technologies']}" />
		</h4>
		<p:outputLabel value="Java" />
		<br />
		<p:outputLabel value="Maven" />
		<br />
		<p:outputLabel value="Spring Boot" />
		<br />
		<p:outputLabel value="Spring Data JPA" />
		<br />
		<p:outputLabel value="Jakarta Server Faces" />
		<br />
		<p:outputLabel value="PrimeFaces" />
		<br />
		<p:outputLabel value="Maria DB" />
		<br />
		<br />

		<p:commandButton value="#{labels['imprint.back-to-menu']}"
			styleClass="form-button" action="menu?faces-redirect=true"
			immediate="true" />
	</ui:define>
</ui:composition>