<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" 
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" lang="de">
<h:head>
	<title><h:outputText value="#{labels['login.title']}" /></title><a:facet name="last">
<!-- 		<link rel="stylesheet" href="${pageContext.request.contextPath}/css/login.css" type="text/css" /> -->
		<h:outputStylesheet name="login.css" library="css" />
	</a:facet>
	<meta name="viewport" content="width=device-width" />
</h:head>
<h:body class="content">
	<div class="wrapper ">
		<div class="center">
			<div class="center-content">
				<h1><h:outputText value="#{labels['login.title']}" /></h1>

				<ui:fragment rendered="#{param.error ne null}">
					<div class="login-message error-message">
						<h:outputText value="#{labels['login.error']}" />
					</div>
				</ui:fragment>
				
				<ui:fragment rendered="#{param.logout ne null}">
					<div class="login-message logout-message">
						<h:outputText value="#{labels['login.logout']}" />
					</div>
				</ui:fragment>

				<form method="post" class="login-form" action="${pageContext.request.contextPath}/login"
					id="loginForm" style="flex-grow: 0">

					<input type="text" id="input-username" name='username'
						class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all form-control"
						placeholder="#{labels['login.username']}" aria-label="Benutzername" required="true" /> <input
						type="password" id="input-password" name='password'
						class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all form-control"
						placeholder="#{labels['login.password']}" aria-label="Passwort" required="true" /> <input
						type="submit" id="login" value="#{labels['login.login']}" class="input-submit" />

				</form>

				<div class="filler"></div>

				<p class="register">
					<p:link value="#{labels['login.reset-password']}" href="/resetPassword.xhtml"/>
				</p>
				
				<p class="register">
					<p:outputLabel value="#{labels['login.register-here']}" />
					<br />
					<p:link href="${pageContext.request.contextPath}/register.xhtml"
						value="#{labels['login.to-register']}" />
				</p>
			</div>
		</div>
	</div>
</h:body>
</html>
