<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	template="/templates/template.xhtml">
	
	<ui:define name="title">
		<h:outputText value="#{labels['manage-users.title']}" />
	</ui:define>
	
	<ui:define name="page-content">
		<h1><h:outputText value="#{labels['manage-users.title']}" /></h1>
		
		<p:growl id="messages" />
		
		<h:form>
			<p:dataTable value="#{manageUsersView.users}" var="user" id="users-table">
				<p:column headerText="#{labels['manage-users.column.number']}">
					<h:outputText value="#{user.userId}" />
				</p:column>
				
				<p:column headerText="#{labels['manage-users.column.username']}">
					<h:outputText value="#{user.userName}" />
				</p:column>
				
				<p:column headerText="#{labels['manage-users.column.email']}">
					<h:outputText value="#{user.emailAddress}" />
				</p:column>
				
				<p:column headerText="#{labels['manage-users.column.role']}">
					<h:outputText value="#{manageUsersView.roleFormatted(user)}" />
				</p:column>
				
				<p:column headerText="#{labels['manage-users.column.actions']}">
					<p:commandButton icon="pi pi-pencil" styleClass="rounded-button rounded-button-overwrite"
					                 action="#{manageUsersView.editUser(user)}" style="margin-right: 10px"/>
					<p:commandButton icon="pi pi-trash" styleClass="rounded-button ui-button-danger rounded-button-overwrite"
					                 action="#{manageUsersView.deleteUser(user)}" update="messages users-table">
						<p:confirm header="#{labels['confirm-dialog.title']}"
										   message="#{labels['manage-users.confirm-remove-user']}"
										   icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
				
			</p:dataTable>
			
			<br />
			<p:commandButton value="#{labels['manage-users.back']}" 
							 action="menu?faces-redirect=true"
							 styleClass="form-button"/>
			<p:commandButton value="#{labels['manage-users.add-new-user']}" 
							 action="editUser?faces-redirect=true" 
							 styleClass="form-button"/>
			
			<br />
			<br />
			
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
            	<p:commandButton value="#{labels['confirm-dialog.no']}" type="button"
            	                 styleClass="ui-confirmdialog-no ui-button-flat"/>
            	<p:commandButton value="#{labels['confirm-dialog.yes']}" type="button"
            	                 styleClass="ui-confirmdialog-yes" />
        	</p:confirmDialog>
			
		</h:form>
	</ui:define>
	
</ui:composition>