<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	template="/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{labels['menu.title']}" />
	</ui:define>
	
	<ui:define name="page-content">
		<h1><h:outputText value="#{labels['menu.title']}" /></h1>
	</ui:define>

</ui:composition>