<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui" lang="de">
<a:view locale="#{userBean.locale}" />

<h:head>
	<title><h:outputText value="#{labels['register.title']}" /></title>
	<a:facet name="last">
		<link rel="stylesheet" href="${pageContext.request.contextPath}/css/login.css" type="text/css" />
		<h:outputStylesheet name="evaluation-icons.css" library="css" />
	</a:facet>
</h:head>

<h:body class="content">
	<div class="wrapper ">
		<div class="center">
			<div class="center-content">
				<h2><h:outputText value="#{labels['register.title']}" /></h2>


				<h:form method="post" style="max-width: 350px; margin: 0 auto;" id="register-form"
					class="login-form">

					<p:growl id="messages" />


					<p:inputText type="text" id="inputEMailAddress" name='email' class="form-control"
						a:placeholder="#{labels['register.email-address']}" value="#{registerView.emailAddress}"
						a:required="true" />

					<p:inputText type="text" id="input-username" name='username' class="form-control"
						a:placeholder="#{labels['register.username']}" value="#{registerView.username}"
						a:required="true">
						<p:ajax event="keyup" update="usernameOverlay" />
						<p:overlayPanel for="input-username">
							<h:panelGroup id="usernameOverlay">
								<i class="pi #{registerView.checkIfUsernameIsAvailable()}" />
								<p:outputLabel value="#{labels['register.username-available']}" />
							</h:panelGroup>
						</p:overlayPanel>
					</p:inputText>

					<p:inputText type="password" name="password" styleClass="form-control password-control"
						a:placeholder="#{labels['register.password']}" id="passwordRegister"
						value="#{registerView.password}" a:required="true">
						<p:ajax event="keyup" update="pwdOverlay" />
						<p:overlayPanel for="passwordRegister">
							<h:panelGroup id="pwdOverlay">
								<i class="pi #{registerView.checkLength()}" />
								<p:outputLabel value="#{labels['edit-profile.length-hint']}" />
								<br />
								<i class="pi #{registerView.checkCapitalLetters()}" />
								<p:outputLabel value="#{labels['edit-profile.letters-hint']}" />
								<br />
								<i class="pi #{registerView.checkNumbers()}" />
								<p:outputLabel value="#{labels['edit-profile.number-hint']}" />
								<br />
								<i class="pi #{registerView.checkSpecialCharacter()}" />
								<p:outputLabel value="#{labels['edit-profile.special-character-hint']}" />
							</h:panelGroup>
						</p:overlayPanel>
					</p:inputText>

					<p:inputText type="password" name="password" class="form-control password-control"
						a:placeholder="#{labels['register.confirmed-password']}" id="passwordConfirmation"
						value="#{registerView.confirmedPassword}" a:required="true"
						validator="#{registerView.validatePasswordCorrect}" />

					<p:commandButton action="#{registerView.registerUser(externalContext)}" update="messages"
						value="#{labels['register.register']}" styleClass="input-submit" />

				</h:form>
			</div>
		</div>
	</div>
</h:body>
</html>
