<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui" lang="de">
<h:head>
	<title><h:outputText value="#{labels['reset-password.title']}" /></title>
	<a:facet name="last">
		<link rel="stylesheet" href="${pageContext.request.contextPath}/css/login.css" type="text/css" />
		<h:outputStylesheet name="primeflex.min.css" library="primeflex" />
	</a:facet>
	<meta name="viewport" content="width=device-width" />
</h:head>
<h:body class="content">
	<div class="wrapper">
		<div class="center">
			<div class="center-content">
				<h1><h:outputText value="#{labels['reset-password.title']}" /></h1>
				<h:form method="post" class="login-form" action="${pageContext.request.contextPath}/login"
					id="loginForm">
					
					<p:inputText value="#{resetPasswordView.username}" placeholder="Username" required="true" />

					<div class="filler" />
					
					<p:commandButton id="send-email" type="submit" action="#{resetPasswordView.resetPassword()}"
						value="#{labels['reset-password.send-email']}" styleClass="input-submit" />
					
				</h:form>
			</div>
		</div>
	</div>
</h:body>
</html>
