<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html" template="/templates/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{labels['view-authors.title']}" />
    </ui:define>
    <ui:define name="page-content">
        <h1><h:outputText value="#{labels['view-authors.title']}" /></h1>
        <h:form>
            <p:commandButton icon="pi pi-plus" action="#{viewAuthorView.navigateToEditAuthor()}"
                             value="#{labels['view-authors.create-author']}" styleClass="form-button"/>
            <p:dataTable value="#{viewAuthorView.allAuthors}" var="author">
                <p:column headerText="#{labels['edit-author.name']}" sortBy="#{author.name}" sortOrder="asc"
                          filterBy="#{author.name}" filterMatchMode="contains">
                    <h:outputText value="#{author.name}"/>
                </p:column>
                <p:column headerText="#{labels['edit-author.extra-information']}" sortBy="#{author.extraInformation}"
                          filterBy="#{author.extraInformation}" filterMatchMode="contains">
                    <h:outputText value="#{author.extraInformation}"/>
                </p:column>
                <p:column headerText="#{labels['elements-tree-view.actions']}">
                    <p:commandButton icon="pi pi-eye" action="#{viewAuthorView.navigateToEditAuthor(author)}"
                                     styleClass="table-button rounded-button rounded-button-overwrite"
                                     update="@form"/>
                    <p:commandButton icon="pi pi-trash" styleClass="ui-button-danger rounded-button table-button rounded-button-overwrite"
                                     action="#{viewAuthorView.deleteAuthor(author)}"
                                     update="@form"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>